node_modules
npm-debug.log
build
.dockerignore
Dockerfile
**/.git
**/.DS_Store
**/node_modules
!/CONTEXT.md

# Adding compose file to git for tracking, even though it's implemented separately on local server
compose.yml

# LLMs
.claude/sessions/
