@import "variables"

// Form controls

.label-input-container
  display: grid
  margin: 0
  padding: 0.1em
  grid-gap: 1em
  grid-template: 1fr / minmax(7em, 25%) minmax(max-content, 75%)

.label-checkbox-container
  margin: 0
  padding: 0.1em

.label-checkbox
  display: inline
  margin-left: 0.5em

.btn-submit
  margin: 0.5em 0

// Structural elements
.col
  padding: 2em 1em

// Address-specific elements

.address-fields
  margin: 0 auto 2em

.input-address-street,
.input-address-full
  min-width: 12em
  max-width: 100%

.input-address-city,
.input-address-country
  min-width: 8em
  max-width: 65%

.input-address-state
  min-width: 2.5em
  max-width: 15%

.input-address-zip
  min-width: 5em
  max-width: 25%

.input-text
  border-width: 1px

// Household-specific elements

.hh-info
  margin: 0

// Search box & results elements

.hh-search-box
  max-width: 90%

