@import "variables"

header
  display: inherit

nav
  padding: 0 1em
  margin: 0 0.25em 1.5em
  border: 1px black hidden
  display: flex
  flex-wrap: nowrap
  justify-content: space-around
  //align-items: center
  //align-content: center
  //justify-items: center
  //background: pink
  .nav-tab
    background: white
    width: 100%
    border: 1px solid $color-border-darker
    display: flex
    justify-content: center
  a
    font-size: 2.4rem
    text-decoration: none
    width: 100%
    text-align: center
    border: 1px orange hidden
  a:visited
    color: $color-link-visited
  a:hover
    background: $color-background
  a:focus, a:active
    outline-color: $color-border
  .selected-tab
    background: $color-link
    color: white !important
  .selected-tab:hover
    background: $color-link-visited

//@media (min-width: 970px)
//  .nav
//    padding: 0 1em 0