@import "variables"

article,
section
  padding-top: 0
  .title
    font-size: 1.5rem
    font-weight: 800
    font: $font-stack-primary
    margin: 1em 0
    display: block
    text-align: center

  .subtitle
    font-size: 1.25rem
    font: $font-stack-primary
    margin: 0 0 1em
    display: block

section
  .content
    font: $font-stack-secondary

  .col
    .selection-box
      display: block
      margin: 1em 0
  .column-container
    display: flex
    justify-content: space-between
    .col
      margin: 0.25em
      padding: 0.5em 1.5em 1.5em
      width: 100%
      display: block
      border: 1px solid blue
